.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    margin: 0 3rem;
    height: 5rem;
    width: 10rem;
  }

  .yes-button {
    background-color: #ff93ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }

  .no-button {
    background-color: #fff;
    color: #ff93ff;
    border: 2px solid #ff93ff;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: none;
  }
}

.content {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
    height: fit-content;
    line-height: initial;
    word-wrap: break-word;
    white-space: pre-wrap;
    color: black;
  }
}
