<div class="main">
  <h1>I love you \(^~^)/</h1>
  <img src="../../assets/LOVE KITTEN.gif" />
  <p>
    Now youre stuck with me forever! <br />
    I love you soso much!!! <br />
    Youre my littel beauty <br />
    I want to spend every day with you till the end of time <br />
    I love you, your Valentine<br />
  </p>
  <button mat-raised-button class="more-button" (click)="you_more_button()">
    {{ this.moreText }}
  </button>
</div>

<div class="more-div" id="animateMore">
  <div class="more-text">
    <h1>Noooooo, I love you more!</h1>
  </div>
</div>
